body {
  margin: 0 8%;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    width: 80vw;
    justify-content: space-between;
  }
}
